<h1 mat-dialog-title>Delete Store Item</h1>
<div mat-dialog-content class="dialog-content">
  <div>
    <label>Would you like to confirm delete?</label>
    <!--<form [formGroup]="form" (ngSubmit)="delete(form)">
  <div class="row">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput maxlength="30" inputmode="text" placeholder="Type name" formControlName="name" #nameInput>
      <mat-error>Name is required</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="standard">
      <mat-label>Price</mat-label>
      <input matInput maxlength="10" type="number" placeholder="Type price" formControlName="price" #nameInput>
      <mat-error>Price is required</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="standard">
      <mat-label>Quantity</mat-label>
      <input matInput maxlength="4" type="number" placeholder="Type quantity" formControlName="quantity" #nameInput>
      <mat-error>Quantity is required</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" [mat-dialog-close]="storeItem">Submit</button>
    <button mat-raised-button type="button" (click)="onNoClick()">Cancel</button>
  </div>-->
    <!--</form>-->
    <!--<div mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" [mat-dialog-close]="storeItem">Submit</button>
      <button mat-raised-button type="button" (click)="onNoClick()">Cancel</button>
    </div>-->
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button mat-dialog-close cdkFocusInitial (click)="delete()">Ok</button>
    </div>
  </div>

</div>
